@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    @font-face 
    {
    font-family: "good-times", sans-serif;
font-weight: 500;
font-style: normal;
src: url("https://use.typekit.net/zsy7wid.css");} 
} */


