---
import MainLayout from "../layouts/MainLayout.astro"
import Gallerygrid from "../components/Gallerygrid.astro"
---
<MainLayout title="Gallry">
    <h1 class="font-good text-pink -ml-[27%] text-5xl mb-[11rem] flex justify-center items-center ">Galleri</h1>
<Gallerygrid></Gallerygrid>

</MainLayout>