---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro'
import Hero from "../components/Hero.astro";
import Some from "../components/Some.astro"
---
<MainLayout title="Titel">
	<Hero></Hero>
<section class="flex flex-col mt-16">
	<Link overskrift="THE KORNER" imgSrc="/img1.png" alt="The korner" roller="Roller: Prototype, illustrator, designer" link="https://the-korner.netlify.app/" ></Link>

	<Link overskrift="PIXEL SPIL" imgSrc="/img2.png" alt="Pixel spil	" roller="Roller: Koncept designer, illustrator, kode" link="https://hvidloegsidapixelgame.netlify.app/spil"></Link>


	<Link overskrift="DIGITAL CLEANUP DAY" imgSrc="/img3.png" alt="Digital cleanup day" roller="Roller: Prototype, designer, infografik, kode" link="https://digital-cleanup.netlify.app/" ></Link>
</section>
<section class="flex flew-row justify-center items-center mx-10 mt-14">
	<img src="/img4.png" alt="Ida Mikkelsen" class="w-[10rem] h-auto mr-4">
	<p class="font-big text-white text-center">Kreativ kvinde på 24 år som er frisk på at dykke dybere ned i den grafiske verden.
	Jeg går på KEA multimediedesign.
	</p>
</section>
<Some></Some>
<section class="mt-10 pb-14">
	
	<h2 class="font-big text-white text-center">Føler du for et samarbejde, så kontakt mig gerne!</h2>
</section>
</MainLayout>

