<section class="border-solid border-pink border-4 rounded-md text-center m-4">
   <h1 class="text-lilla bg-pink py-3 font-good">SKILLS</h1>
   
       <div class="flex flex-col justify-center items-center my-5 mx-5">
 <aside class="space-y-5 m-4 flex flex-col w-full">
 <!-- CLIP STUDIO -->

 <div class="flex flex-row justify-between">
    <p class="font-big text-white text-left">Clip Studio Paint</p>
<div class="flex flex-row space-x-3 ">

<div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
<div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
<div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
<div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
<div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
<div class="w-4 h-7 border-solid border-pink rounded-md border-2 box"></div>
</div>
</div>
 <!-- PROCREATE -->
<div class="flex flex-row grow justify-between ">
    <p class="font-big text-white text-left">Procreate</p>
 <div class="flex flex-row space-x-3 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2"></div>
    </div>
</div>
 <!-- FIGMA -->
 <div class="flex flex-row justify-between">
    <p class="font-big text-white text-left">Figma</p>

 <div class="flex flex-row space-x-3 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2"></div>
    </div>
</div>
 <!-- ILLUSTRATOR -->
 <div class="flex flex-row justify-between">
    <p class="font-big text-white text-left">Illustrator</p>

 <div class="flex flex-row space-x-3 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2"></div>
    </div>
</div>
     <!-- PHOTOSHOP -->
     <div class="flex flex-row justify-between">
        <p class="font-big text-white text-left">Photoshop</p>
    
 <div class="flex flex-row space-x-3 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 "></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 "></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 "></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2"></div>
    </div>
    </div>

 <!-- HTML -->
 <div class="flex flex-row justify-between">
    <p class="font-big text-white text-left">HTML</p>

 <div class="flex flex-row space-x-3 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2 box"></div>
    </div>
</div>
 <!-- CSS -->
 <div class="flex flex-row justify-between">
    <p class="font-big text-white text-left">CSS</p>

 <div class="flex flex-row space-x-3 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2"></div>
    </div>
    </div>

     <!-- TAILWIND -->
     <div class="flex flex-row justify-between">
        <p class="font-big text-white text-left">Tailwind</p>
    
 <div class="flex flex-row space-x-3 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2"></div>
    </div>
    </div>

     <!-- ASTRO -->
     <div class="flex flex-row justify-between">
        <p class="font-big text-white text-left">ASTRO</p>
    
 <div class="flex flex-row space-x-3 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2"></div>
    </div>
</div>

</aside>
</div>
</div>
</section>



<style>
    .box {
        background-color: pink;
    }
</style>