<section class="border-solid border-pink border-4 rounded-md text-center m-4 md:mr-[20%] md:mt-[13%]">
   <h1 class="text-lilla bg-pink py-3 font-good md:text-[65px]">SKILLS</h1>
   
       <div class="flex flex-col justify-center items-center my-5 mx-5">
 <aside class="space-y-5 m-4 flex flex-col w-full">
 <!-- CLIP STUDIO -->

 <div class="flex flex-row justify-between">
    <p class="font-big text-white text-left text-[1.3rem] md:text-[50px]">Clip Studio Paint</p>
<div class="flex flex-row space-x-6 ">
   
<div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
<div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
<div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
<div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
<div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
<div class="w-4 h-7 border-solid border-pink rounded-md border-2 box md:w-6 md:h-12"></div>
</div>
</div>
 <!-- PROCREATE -->
<div class="flex flex-row grow justify-between ">
    <p class="font-big text-white text-left text-[1.3rem] md:text-[50px]">Procreate</p>
 <div class="flex flex-row space-x-6 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2 md:w-6 md:h-12"></div>
    </div>
</div>
 <!-- FIGMA -->
 <div class="flex flex-row justify-between">
    <p class="font-big text-white text-left text-[1.3rem] md:text-[50px]">Figma</p>

 <div class="flex flex-row space-x-6 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2 md:w-6 md:h-12"></div>
    </div>
</div>
 <!-- ILLUSTRATOR -->
 <div class="flex flex-row justify-between">
    <p class="font-big text-white text-left text-[1.3rem] md:text-[50px]">Illustrator</p>

 <div class="flex flex-row space-x-6 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 md:w-6 md:h-12"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2 md:w-6 md:h-12"></div>
    </div>
</div>
     <!-- PHOTOSHOP -->
     <div class="flex flex-row justify-between">
        <p class="font-big text-white text-left text-[1.3rem] md:text-[50px]">Photoshop</p>
    
 <div class="flex flex-row space-x-6 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2  md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2  md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2  md:w-6 md:h-12"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2 md:w-6 md:h-12"></div>
    </div>
    </div>

 <!-- HTML -->
 <div class="flex flex-row justify-between">
    <p class="font-big text-white text-left text-[1.3rem] md:text-[50px]">HTML</p>

 <div class="flex flex-row space-x-6 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2 box md:w-6 md:h-12"></div>
    </div>
</div>
 <!-- CSS -->
 <div class="flex flex-row justify-between">
    <p class="font-big text-white text-left text-[1.3rem] md:text-[50px]">CSS</p>

 <div class="flex flex-row space-x-6 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2 md:w-6 md:h-12"></div>
    </div>
    </div>

     <!-- TAILWIND -->
     <div class="flex flex-row justify-between">
        <p class="font-big text-white text-left text-[1.3rem] md:text-[50px]">Tailwind</p>
    
 <div class="flex flex-row space-x-6 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2 md:w-6 md:h-12"></div>
    </div>
    </div>

     <!-- ASTRO -->
     <div class="flex flex-row justify-between">
        <p class="font-big text-white text-left text-[1.3rem] md:text-[50px]">ASTRO</p>
    
 <div class="flex flex-row space-x-6 ">

    <div class=" w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 rounded-md border-solid border-pink border-2 box md:w-6 md:h-12"></div>
    <div class="w-4 h-7 border-solid border-pink rounded-md border-2 md:w-6 md:h-12"></div>
    </div>
</div>

</aside>
</div>
</div>
</section>



<style>
    .box {
        background-color: pink;
    }
</style>