---
import Gallerybox from "../components/Gallerybox.astro"
---

<div class="flex flex-wrap">
<Gallerybox overskrift="Karakter design" imgSrc="/svamp.png" alt.="Karakter design af svampeperson med skistser og moodboard" text="Karakter design af svampemand. Lavet i Vector format i Illustrator."></Gallerybox>
<Gallerybox overskrift="Maskot design" imgSrc="/mascot.png" alt.="Maskot design af ko med skistser og moodboard" text="Maskot design til Kpop hjemmeside. Lavet i Vector format i Illustration. Style-tile er lavet i Figma."></Gallerybox>
<Gallerybox overskrift="Visuel identitet" imgSrc="/visuel.png" alt.="Visuel identitet af eget brand" text="Visuel identitet lavet til mit eget brand. Designet i Illustrator og Figma. Brugt som skilte, visitkort, banner og meget mere."></Gallerybox>
</div>