---
import Box from "../components/Box.astro"
---

<section class="flex flex-col">
    <div>
        h1
    <img src="/mig.png" alt="" class="w-[15rem] h-auto">
</div>
    <section class="border-solid border-pink border-4 rounded-md  text-center m-4">
        <h1 class="text-lilla bg-pink py-3 font-good">SKILLS</h1>
        <div class="flex" >
        
        <div class="flex flex-col">

<Box></Box>




        </div>
    </div>
    </section>
</section>