---
import Box from "../components/Box.astro"
---
<section class="flex flex-col items-center justify-center min-h-screen">
    <div class="flex flex-row sm:flex-row items-center justify-center ml-[15%]">
        <img src="/mig.png" alt="Image" class="w-56 h-auto mr-auto ml-[15%] sm:mx-0 sm:mr-4">

        <h1 class="font-good text-white -ml-[27%] text-5xl mb-[11rem] leading-[4.5rem] sm:mb-0 transform rotate-90 sm:rotate-0 sm:-translate-x-0">
            IDA <span class="ml-[3.8rem] sm:ml-0">MIKKELSEN</span>
        </h1>
    </div>
  
    <Box></Box>
</section>
