---
import Box from "../components/Box.astro"
---

<section class="flex flex-col">
    <div class="flex flex-row items-center">
        <img src="/mig.png" alt="" class="w-[14rem] h-auto mr-2">

        <h1 class="mb-[7.5rem] font-good text-white rotate-90 text-[3.5rem] transform -translate-x-[32%] ">IDA <span class="ml-12">MIKKELSEN</span></h1>
    </div>
  
                <Box></Box>
       
</section>
