---
import Box from "../components/Box.astro"
---
<section class="flex flex-col items-center justify-center min-h-screen md:flex-row xl:flex-row">
    <div class="flex flex-row xl:flex-col-reverse items-center justify-center ml-[15%]">
        <img src="/mig.png" alt="Image" class="w-56 h-auto mr-auto ml-[15%] sm:mx-0 md:mr-[4.5rem] md:-ml-[20%] md:w-[20rem] md:max-w-[230%] xl:mr-4 xl:-ml-[40%] xl:w-[36rem] xl:max-w-[230%]">

        <h1 class="font-good text-pink -ml-[27%] text-5xl mb-[11rem] leading-[4.5rem] transform rotate-90 md:rotate-0 md:-translate-x-0 md:flex md:flex-col md:absolute md:leading-[4.5rem] md:top-[1.5rem] md:right-[2rem] md:text-[350%] lg:text-[450%] lg:top-[3rem] xl:rotate-0 xl:-translate-x-0 xl:flex xl:flex-col xl:text-[90px] xl:absolute xl:leading-[8.5rem] xl:top-[2rem] xl:right-[2.5rem]">
            IDA <span class="ml-[3.8rem] sm:ml-0">MIKKELSEN</span>
        </h1>
    </div>
  <div class=" md:ml-[-5%] md:mt-[30%] xl:ml-[5%] xl:mt-[30%]">
    <Box ></Box></div>
</section>



<style>
    @media (min-width: 768px) { /* assuming xl is 768px */
    h1 {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
}
</style>