---
import Box from "../components/Box.astro"
---

<section class="flex flex-row">
    <img src="/mig.png" alt="" class="w-24 h-auto">
    <section class="border-solid border-pink border-4 rounded-md  text-center">
        <h1 class="text-lilla bg-pink py-3 font-good">SKILLS</h1>
        <div class="flex" >
        
        <div class="flex flex-col">

<Box></Box>




        </div>
    </div>
    </section>
</section>