<div class="banner bg-white w-[12%]">
  <div class="track">
      <div class="content text-[50px] text-lilla font-good">
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
          DESIGN&nbsp;&nbsp;&nbsp;
      </div>
  </div>
</div>

<style>
.banner {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0; /* Ensure it is fixed to the left */
  top: 0; /* Ensure it starts at the top */
}

.track {
  position: absolute; /* Change to absolute to fix the positioning */
  will-change: transform;
  animation: banner 20s linear infinite;
}

.content {
  display: inline-block;
  white-space: nowrap;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
}

@keyframes banner {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}
</style>
