<section class="border-solid border-pink border-4 rounded-md mx-10 mt-16 md:mx-44">
    <h1 class="text-lilla bg-pink py-3 font-good justify-center items-center flex">Sociale medier</h1>
    <div class="flex flex-row justify-between items-center my-6 mx-9">
        <a href="mailto:niji.ida@hotmail.com" class="flex flex-col justify-center items-center">
            <img src="/mail.png" alt="email" class="w-[3rem] h-auto">
            <p class="text-white font-big">Email</p>
        </a>
        <a href="www.linkedin.com/in/idamikkelsenniji" class="flex flex-col justify-center items-center">
            <img src="/linkedin.png" alt="Linkedin" class="w-[3rem] h-auto">
            <p class="text-white font-big">Linkedin</p>
        </a>
        <a href="https://www.instagram.com/niji.ida" class="flex flex-col justify-center items-center">
            <img src="/instagram.png" alt="Instagram" class="w-[3rem] h-auto">
            <p class="text-white font-big">Instagram</p>
        </a>
    </div>
</section>
